@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.total__content {
    display: flex;
    justify-content: space-between;
}

.total__title {
    font-size: 36px;
    line-height: 32px;
    font-weight: 500;
    color: white;
    padding: 22px 0 30px 0;
    letter-spacing: 4px;
    text-transform: uppercase;
    line-height: 116%;
    max-width: 70%;
}

.title__name {
    animation: fadeIn 1.3s;
}

.content__media {
    display: flex;
    flex-direction: column;
    width: 68%;
}

.carousel__swiper {
    animation: fadeIn 1.3s;
}

.content__videos {
    display: flex;
    padding-top: 30px;
    justify-content: space-between;
}

.videos__content {
    width: 31%;
    animation: fadeIn 1.6s;
}

.videos__img {
    width: 100%;
    height: 130px;
}

.videos__desc {
    padding-left: 10px;
}

.desc__title {
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 500;
}

.desc__channel {
    font-size: 16px;
    font-weight: 300;
    padding-top: 8px;
}

.content__vkGroups {
    display: flex;
    padding-top: 30px;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

.vkGroups__group {
    width: 31%;
    animation: fadeIn 1.6s;
    display: flex;
    margin:16px 18px 0 0 ;

}

.group__img {
    height: 100px;
}

.group__desc {
display: flex;
align-items: center;
padding-left: 10px;
}

.desc__title {

}

.content__description {
    width: 324px;
    /* margin-left: 30px; */
    animation: fadeIn 1s;

}

.description__img {
    width: 324px;
    height: 150px;
}

.img__logo {
    width: 100%;
    height: 100%;
}

.description__snippet {
    font-size: 14px;
    line-height: 18px;
    padding-right: 16px;
    padding-top: 10px;
}

.description__countRating {
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
}

.countRating__rating {
    display: flex;
}

.rating__logo {
    height: 100%;
    width: 74px;
}

.rating__number {
    width: 54px;
    height: 50px;
    line-height: 50px;
    color: #FFFFFF;
    background-color: #66CC33;
    font-size: 25px;
    text-align: center;
}

.countRating__count {
    display: flex;
    flex-direction: column;
}

.count__text {
    font-size: 18px;
}

.count__number {
    color: #66CC33;
    font-size: 25px;
    padding-top: 6px;
}

.description__categories {
    padding-top: 4px;
}

.description__platforms {
    padding-top: 10px;
}