body {

    background: linear-gradient(to bottom, rgb(41, 66, 85) 20%, rgba(6, 7, 8) 80%) no-repeat;
    background-color: #050607;
    cursor: default;
    width:100vw;
    overflow-x:hidden;
}

a {
    text-decoration: none;
    color: #ddd;
}